<section class="section simple-page">
  <div class="section-header">
    <h2>{{ page.title }}</h2>
    {% if page.content != blank %}
      <div class="page-content">{{ page.content }}</div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Main page",
  "settings": []
}
{% endschema %}
